header {
  position: relative;
  width: 100%;
  height: 70px;
  padding: 0 30%;
}

header > a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  text-decoration: none;
}

section {
  width: 700px;
  height: 400px;
  margin: 50px auto;
  padding: 50px;
}

section > .text-container {
  width: 80%;
  height: 60%;
  margin: 0 auto 80px auto;
  font-size: 20px;
}

section > .text-container > .letter_correct {
  color: white;
  background-color: green;
  transition: 0.1s;
}

section > .text-container > .letter_incorrect {
  color: white;
  background-color: red;
  transition: 0.1s;
}

section > .params-container {
  width: 80%;
  height: 20%;
  margin: 0 auto;
}

footer {
  width: 100%;
  height: 100px;
}